@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquarda+Bastarda+9&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.font-teacher {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
  @apply font-pixel;
}

.font-pixel {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-jersey {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.card {
  padding: 2em;
}

body {
  overflow-x: hidden;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity)); 
  scroll-behavior: smooth
}

@layer components {
    .bb {
        @apply border border-black;
    }
    .bg-clg {
        --tw-bg-opacity: 1;
        --s: 65px; /* control the size*/
        --c1: #f1f1f1;
        --c2: rgb(246 246 246 / var(--tw-bg-opacity));;
            
        --_g: #0000 90deg,var(--c1) 0;
        background: 
            /* Smaller One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            /* Bigger One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            var(--c2);
        background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);

        @apply bg-white;
    }
    .bg-clgd {
        --tw-bg-opacity: 1;
        --s: 65px; /* control the size*/
        --c1: #f1f1f1;
        --c2: rgb(246 246 246 / var(--tw-bg-opacity));;
            
        --_g: #0000 90deg,var(--c1) 0;
        background: 
            /* Smaller One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            /* Bigger One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            var(--c2);
        background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);

        @apply bg-white;
    }
    .bg-xlg {
        --tw-bg-opacity: 1;
        --s: 85px; /* control the size*/
        --c1: #f1f1f1;
        --c2: rgb(246 246 246 / var(--tw-bg-opacity));;
            
        --_g: #0000 90deg,var(--c1) 0;
        background: 
            /* Smaller One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            /* Bigger One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            var(--c2);
        background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);

        @apply bg-white;
    }
    .bg-cxld {
        --tw-bg-opacity: 1;
        --s: 85px; /* control the size*/
        --c1: rgb(40, 40, 40);
        --c2: rgb(246 246 246 / var(--tw-bg-opacity));;
            
        --_g: #0000 90deg,var(--c1) 0;
        background: 
            /* Smaller One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            /* Bigger One */
            conic-gradient(from 90deg at 1px 1px,var(--_g)),
            var(--c2);
        background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
        @apply bg-gray-950 text-white;
    }
}

